{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Rólam</h1>
            <span class="subheading">Ez az amit csinálok.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Sziasztok! Sándor Szilveszter vagyok, programozás a fő szakterületem, emellett néha grafikus tervezéssel is szoktam foglalkozni.</p>
        <p>A programozás, mint hobbi már régóta az életem része, komolyabban az egyetemi éveim alatt kezdtem el foglalkozni vele. A webprogramozáson kívül az adatelemzés és szoftverfejlesztés is érdekel.</p>
        <p>2018-ban kezdtem el tanulni a HTML-t a CSS-t, Javascriptet és a Pythont. Az évek során Weboldal készítésre, szoftverfejlesztésre, adatelemzésre használtam ezeket a programokat. Folyamatosan fejlesztem a tudásom, angol nyelvű tanfolyamokat csinálok, amelyek intenzív és hatékony tanulást biztosítanak.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
