{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1520923642038-b4259acecbd7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1119&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            {% if request == True %}
            <h1>Sikeresen elküldted az üzenetet.</h1>
            {% elif request == None %}
            <h1>E-mail hiba: kérlek töltsd ki helyesen az összes mezőt!</h1>
          {% else %}
          <h1>Vedd fel velem a kapcsolatot</h1>
            {% endif %}
            <span class="subheading">Ha bármilyen kérdésed van, írj bátran</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Az alábbi űrlapokat kitöltve tudod felvenni velem a kapcsolatot.</p>
        <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
        <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
        <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->

        <form name="sentMessage" id="contactForm" action="/contact" method="post" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label for="name">name</label>
              <input type="text" name="name" class="form-control" placeholder="Név" id="name" required data-validation-required-message="teljes név">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label for="email">email</label>
              <input type="email" class="form-control" placeholder="Email cím" name="email" id="email" required data-validation-required-message="e-mail cím">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="phone">phone</label>
              <input type="tel" class="form-control" placeholder="Telefonszám" name="phone" id="phone" required data-validation-required-message="telefonszám">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label for="message">message</label>
              <textarea rows="5" class="form-control" placeholder="Üzenet" name="message" id="message" required data-validation-required-message="üzenet"></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          {% if request == True %}
            <h1>Sikeresen elküldted az üzenetet.</h1>
          {% elif request == False %}
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Küldés</button>
            {% endif %}
        </form>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
